[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spring Data JPA extension allowing full dynamic usage of EntityGraph on repositories
[access "refs/*"]
	owner = group user/Réda Housni Alaoui (reda-alaoui)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Réda Housni Alaoui (reda-alaoui)
	label-Verified = -1..+1 group user/Réda Housni Alaoui (reda-alaoui)
	push = group user/Réda Housni Alaoui (reda-alaoui)
	read = group user/Réda Housni Alaoui (reda-alaoui)
	rebase = group user/Réda Housni Alaoui (reda-alaoui)
	removeReviewer = group user/Réda Housni Alaoui (reda-alaoui)
	submit = group user/Réda Housni Alaoui (reda-alaoui)
[access "refs/heads/*"]
	create = group user/Réda Housni Alaoui (reda-alaoui)
	push = +force group user/Réda Housni Alaoui (reda-alaoui)
	pushMerge = group user/Réda Housni Alaoui (reda-alaoui)
	read = group user/Réda Housni Alaoui (reda-alaoui)
[access "refs/tags/*"]
	push = group user/Réda Housni Alaoui (reda-alaoui)
	push = +force group user/Réda Housni Alaoui (reda-alaoui)
