<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>central</name>
                    <url>http://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>spring-snapshot-local</id>
                    <name>spring-snapshot-local</name>
                    <url>https://repo.spring.io/libs-snapshot-local</url>
                </repository>
                <repository>
                    <id>spring-milestone-local</id>
                    <name>spring-milestone-local</name>
                    <url>https://repo.spring.io/libs-milestone-local</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>
